.Abas {
    position: fixed;
    bottom: 0;
    width: 100%;
    
}
.Abas nav{
    padding: 5px;
    background: rgb(156,39,176);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 10px;
}

.Abas a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: rgb(255,235,59);
}

